---
import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";
import ThisSite from "../layouts/ThisSite.astro";
import AboutMe from "../layouts/AboutMe.astro";
import Certifications from "../layouts/Certifications.astro";

const baseDomain = import.meta.env.PUBLIC_BASE_DOMAIN ?? "chrispsheehan.com";
const githubRepo = import.meta.env.GITHUB_REPOSITORY ?? "chrispsheehan/webstack";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{baseDomain}</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/png" href="/face.png" />
  </head>
  <body>
    <Header baseDomain={baseDomain} githubRepo={githubRepo} />

    <main>
      <section id="hero">
        <h1>👋 Welcome!</h1>
      </section>

      <AboutMe />

      <Certifications />

      <ThisSite githubRepo={githubRepo}/>
    </main>

    <Footer baseDomain={baseDomain} />
  </body>
</html>
